#wrapper {
    width: 66%;
    min-height: 800px;   /* changed from height: 800px */
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 241, 241);
    overflow: auto;      /* ensures floats don’t break wrapper */
}



article {
    min-height: 520px;   /* flexible instead of fixed */
}
