/* CSS Document */
@charset "UTF-8";
/* Color Scheme : #6C2AF5, #AC93F4, #F46EE5, #F59F84, #F46175*/
/* The body tag style applies to all elements on the page */
body {
    /*background-color: rgb(0, 0, 0);*/
    background: rgb(59, 2, 112); 
    background: -moz-linear-gradient(left, rgb(250, 235, 146) 0%, rgb(59, 2, 112) 100%); 
    background: -webkit-linear-gradient(left, rgb(250, 235, 146) 0%, rgb(59, 2, 112) 100%); 
    background: -o-linear-gradient(left, rgb(250, 235, 146) 0%, rgb(59, 2, 112) 100%); 
    background: linear-gradient(to right, rgb(250, 235, 146) 0%,rgb(59, 2, 112) 100%);
    font-family: Verdana, Geneva, Arial, sans-serif;
    padding: 0px;
    margin: 0px;
}
header, footer
{
   background-color: white;
   color: red; 
   padding-top: 5px;
   padding-bottom: 5px;
}
address
{
    margin-left: 15px;
}
aside
{
    background-color: antiquewhite;
    float: right;
    margin: 5px;
    padding: 5px;
    width: 250px;
}
/* The wrapper ID style is used with a div tag to provide a 960px wide page */
#wrapper {
    width: 960px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    /*background-color: blue;*/
    background-color: LightSlateGrey;
}

/* The right-column ID style is floated right */
#right-column {
    float: right;
    width: 600px;
    height: 600px;
    background-color: LightGray;
}
mark
{
    background-color: rgb(255, 255, 255);
}
figure
{
    position: relative;
    background-color: white;
    width: 220px;
    height: 220px;
    margin: 25px;
    padding: 5px;
    border: 2px solid black;
}
figcaption
{
    position: bottom;
    background-color: black;
    color: white;
}
article
{
    height: 520px;
}
/* The left-column ID style is floated left */
#left-column {
    float: left;
    width: 360px;
    background-color: silver;
    height: 600px;
}
/* Defining a style for a set of tags separated by commas applies the style to all tags */
h1,h2,h3,h4,h5,h6,p,li {
    margin-left: 15px;
}

#footer {
    height: 80px;
}

#banner {
    height: 120px;
    background-color: SlateGrey;
}

/* Defining a style for a set of tags not separated by commas applies the style only to all tags within the preceding tag*/
#banner h1 {
    color: white;
}

/* Advanced Web design relies on class or ID styles, never tables */
.box {
    height: 100px;
    width: 100px;
    float: left;
    background-color: rgb(73, 214, 54);
    margin: 15px;
    padding: 25px;
    opacity: .5;
    border-radius: 75px;
}

/* The following pseudo-class applies to the box class when in a hovered state */
.box:hover {
    opacity: 1;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e4f5fc+0,bfe8f9+50,9fd8ef+60,2ab0ed+100 */
background: radial-gradient(ellipse at center,  rgba(228,245,252,1) 0%,rgba(191,232,249,1) 50%,rgba(159,216,239,1) 60%,rgba(42,176,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

/* This clear class style terminates float */
.clear {
    clear: both;
}

video
{ 
    width: 400px; 
    padding: 15px; 
    margin: 15px; 
    background-color:black; 
    border:2px white solid; 
    box-shadow: 10px 10px 5px black;
}
button 
{
background-color:black;
margin: 15px; 
color:white;
height:40px;
border:2px white solid;
/* offset-x: positive:right, negative:left */
/* offset-y: positive:down, negative:up */
/* blur-radius: */
/* color */
box-shadow: 10px 10px 5px black;
/* to make rounded corners*/
/* if its one value mena all four sides */
/* top-left, top-right, bottom-right, bottom-left */
border-radius: 5px;
}

button:hover 
{ 
    background-color:beige; 
    color:black; 
    height:40px; 
    border:2px white solid; 
    box-shadow: -10px -10px 5px black; 
    border-radius: 5px; 
}

