/* CSS Document */
@charset "UTF-8";
/* Color Scheme : #6C2AF5, #AC93F4, #F46EE5, #F59F84, #F46175*/
/* The body tag style applies to all elements on the page */

body {
    /*background-color: rgb(0, 0, 0);*/
    background: rgb(59, 2, 112); 
    background: -moz-linear-gradient(top, rgb(111, 0, 255) 0%, rgb(59, 2, 112) 100%); 
    background: -webkit-linear-gradient(top, rgb(111, 0, 255) 0%, rgb(59, 2, 112) 100%); 
    background: -o-linear-gradient(top, rgb(111, 0, 255) 0%, rgb(59, 2, 112) 100%); 
    background: linear-gradient(to bottom, rgb(111, 0, 255) 0%, rgb(59, 2, 112) 100%);
    font-family: Verdana, Geneva, Arial, sans-serif;
    padding: 0px;
    margin: 0px;
    text-align: center;
}
header.homepage 
{
    background-color: rgb(252, 255, 155);
    color: rgb(59, 2, 112); 
    padding-bottom: 50px;
}
nav.homenavi
{
  position: fixed;
  top: 100px; 
  left: 760px;
 
}
.project-header 
{
    height: 200px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#38006d+0,fff1f1+100 */
    background: linear-gradient(to bottom,  #38006d 0%,rgb(255, 241, 241) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */


}
header, footer
{
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#38006d+1,38006d+1,fff1f1+40,fff1f1+60,38006d+100 */
background: linear-gradient(to right,  #38006d 1%,#38006d 1%,#fff1f1 40%,#fff1f1 60%,#38006d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

   color: rgb(0, 0, 0); 
   padding-top: 5px;
   padding-bottom: 5px;
}
address
{
    margin-left: 15px;
}
aside
{
    background-color: antiquewhite;
    float: right;
    margin: 5px;
    padding: 5px;
    width: 250px;
}
/* The wrapper ID style is used with a div tag to provide a 960px wide page */
#wrapper {
    width: 960px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    /*background-color: white;*/
    background-color: rgb(255, 241, 241);
}

/* The right-column ID style is floated right */
#right-column {
    float: right;
    width: 600px;
    height: 600px;
    background-color:rgb(255, 241, 241);
}
mark
{
    background-color: rgb(255, 255, 255);
}
figure
{
    position: center;
    background-color: white;
    width: 270px;
    height: 270px;
    margin: 10px;
    border: 2px solid black;

    align-items: center;        /* vertical center */
    justify-content: center;    /* horizontal center */
}
figcaption
{
    /*margin-top 1px;*/
    color: rgb(0, 0, 0);
}
.profile-pic 
{
    float:left;
    margin: 10px;
    text-align:center
}

.about-text 
{
    overflow: hidden;
    text-align: left;
    margin-top: 30px;
    margin-right: 20px;
}


article
{
    height: 520px;
}
/* The left-column ID style is floated left */
#left-column {
    float: left;
    width: 360px;
    background-color: rgb(250, 234, 177);
    color: white;
    height: 600px;
}
/* Defining a style for a set of tags separated by commas applies the style to all tags */
h1,h2,h3,h4,h5,h6,p,li {
    margin-left: 15px;
}

#footer {
    height: 80px;
    background-color: rgb(59, 2, 112);
    color: white;
    padding-top: 20px;
}

#banner {
    height: 120px;
    background: linear-gradient(45deg, rgb(233, 179, 251), rgb(111, 0, 255));
}

/* Defining a style for a set of tags not separated by commas applies the style only to all tags within the preceding tag*/
#banner h1 {
    color: white;
    padding-top: 30px;
}

/* Advanced Web design relies on class or ID styles, never tables */
.project-box {
    float: left;
    width: 48%;          
    height: 250px;       
    margin: 1%;
    padding: 25px;
    opacity: .8;
    text-align: center;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: rgb(233, 179, 251);
    border: 2px solid rgb(59, 2, 112);
}

/* The following pseudo-class applies to the box class when in a hovered state */
.project-box:hover {
    opacity: 1;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fceabb+0,fccd4d+100,f8b500+98,fbdf93+77;Orange+3D+%235 */
background: radial-gradient(ellipse at center,  #fceabb 0%,#fccd4d 100%,#f8b500 98%,#fbdf93 77%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

.clear {
    clear: both;
}

video
{ 
    width: 400px; 
    padding: 15px; 
    margin: 15px; 
    background-color:black; 
    border:2px white solid; 
    box-shadow: 10px 10px 5px black;
}

button 
{
background-color:rgb(111, 0, 255);
margin: 15px; 
color:rgb(255, 241, 241);
height:40px;
border:2px white solid;
border-radius: 5px;
}

button:hover 
{ 
    background-color:rgb(59, 2, 112); 
    color:rgb(255, 241, 241); 
    height:40px; 
    border:2px white solid; 
    box-shadow: -10px -10px 5px rgb(233, 179, 251); 
    border-radius: 5px; 
}

